<form [formGroup]="myForm" (ngSubmit)="ingresar()">
  <div>
    <mat-form-field>
      <mat-label>Email</mat-label>
      <input matInput type="email" formControlName="email" />
      <div *ngIf="myForm.get('email')?.errors && myForm.get('email')?.dirty">
        El campo es obligatorio
      </div>
    </mat-form-field>
  </div>
  <div>
    <mat-form-field>
      <mat-label>Contraseña</mat-label>
      <input matInput type="password" formControlName="password" />
      <div
        *ngIf="myForm.get('password')?.errors && myForm.get('password')?.dirty"
      >
        <p *ngIf="myForm.get('password')?.hasError('required')">
          El campo es obligatorio
        </p>
        <p *ngIf="myForm.get('password')?.hasError('minlength')">
          La contraseña debe tener más de 6 caracteres
        </p>
        <p *ngIf="myForm.get('password')?.hasError('maxlength')">
          La contraseña debe tener menos de 10 caracteres
        </p>
      </div>
    </mat-form-field>
  </div>
  <button
    mat-raised-button
    type="submit"
    [disabled]="myForm.invalid"
    (click)="login()"
  >
    Ingresar
  </button>
</form>
